@model DemoCrudMvc.Entities.Player

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Player Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlayerID" />
            <div class="form-group">
                <label asp-for="PlayerName" class="control-label"></label>
                <input asp-for="PlayerName" class="form-control" />
                <span asp-validation-for="PlayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerAge" class="control-label"></label>
                <input asp-for="PlayerAge" class="form-control" />
                <span asp-validation-for="PlayerAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerAddress" class="control-label"></label>
                <input asp-for="PlayerAddress" class="form-control" />
                <span asp-validation-for="PlayerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerJoiningDate" class="control-label"></label>
                <input asp-for="PlayerJoiningDate" class="form-control" />
                <span asp-validation-for="PlayerJoiningDate" class="text-danger"></span>
            </div> <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
